@use '../../styles/index.scss' as *;

.appbar {
  position: sticky;
  top: 0;
  height: 40px;
  background-color: $green;
  fill: white;
  filter: drop-shadow(0 0 $spacing-unit rgb(65, 65, 65))
}