.icon-btn {
  border-radius: 5px;
  height: 30px;
  width: 30px;

  * {
    height: 100%;
    width: 100%;
  }
  &:hover {
    background-color: darkgrey;
    border: 1px solid black;
  }
}